.score-board{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
}

.div-score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score-player{
    cursor: pointer;
}

#div-icon-arrow {
    min-width: 34.3%;
    margin: auto;
}

.icon-arrow{
    transition: margin 300ms ease-in-out;
}

#div-icon-arrow.active > .icon-arrow{
    margin-left: calc(100% - 20px);
}   

